.itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cartItem {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #DADFEA;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.41);
}

.detailContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.separator {
    font-size: 30px;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartInput {
    width: 20px;
    text-align: center;
}

input {
    text-align: center;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
