img {
    max-width: 90%;
    max-height: 300px;
    width: auto;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.infoContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cardTitle, .cardInfo {
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardButton {
    color: #FFFFFF;
    text-decoration: none;
}

.mediaCardContainer {
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.41);
}
